# Garante LF (Unix) em scripts e arquivos de texto
* text=auto eol=lf
*.sh text eol=lf
*.json text eol=lf
*.md text eol=lf

# Arquivos binários (não converter)
*.img binary
*.gz binary
*.xz binary
*.zst binary